accelerate
datasets
flash-attn
ipykernel
ipywidgets
liger-kernel
matplotlib
nbformat
ninja
packaging
pandas
PyWavelets
scipy
sentencepiece
statsmodels
torch
torchvision
tqdm
transformers
trl
wandb
wheel
